figure.highlight table {
	overflow: auto;
}

.markdown-body table {
	overflow: visible;
}

.markdown-body h1 {
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.md-centering-table {
	margin: 0px auto;